*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    font-family: sans-serif;
}
header{
    background-color: #222;
    text-align: center;
    border-bottom: 2px solid  #9ACD32;
}
ul{
    width: 100%;
    display: table;
    text-align: center;
}
li{
    display: inline-block;
    float: none;
    margin: 1%;
}
a {
    text-decoration: none;
    font-size: 30px;
    color:#fff;
}
a:hover{
    color:  #9ACD32;
}
h1{
    color: #9ACD32;
    font-size: 80px;
    text-align: center;
    margin: 300px;
}

