*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    font-family: sans-serif;
}
header{
    background-color: #222;
    text-align: center;
    border-bottom: 2px solid  #9ACD32;
}
ul{
    width: 100%;
    display: table;
    text-align: center;
}
li{
    display: inline-block;
    float: none;
    margin: 1%;
}
a {
    text-decoration: none;
    font-size: 30px;
    color:#fff;
}
a:hover{
    color:  #9ACD32;
}
.container{
    max-width: 900px ;  
    margin-left: 10%; 
    margin-top: 45px; 
    padding: 50px; 
}
img{
    width: 300px;
    height: 300px;
    border-radius:100%;
}
h1{


    color:  #9ACD32 ;
    padding: 20px; 
    font-size: 80px; 
}
h2{
    color: #fff; 
    padding: 10px; 
}
h3{  
    text-align: center; 
    color: #fff; 
}
p{

    color: #fff; 
}
strong{
    color: #FFFF00; 
}

.icons{
    text-align: center;
}
.Click-btn{
    background-color: #222; 
    font-size: 50px;
    border: 2px solid  #9ACD32;
    margin: 30px; 
    border-radius: 10px;
    box-shadow: 10px 5px 5px green;

}
footer{
    background-color: #222; 
    border-top: 2px solid #9ACD32 ;
    height: 300px;   
    margin-top: 100px; 
    align-items: center;
    padding-top: 30px; 
}
i{ 
    color: #9ACD32;  
    padding: 50px; 
}

